﻿body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

h4 {
    font-family: 'Roboto Condensed',Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
}

*:focus {
    outline: 0;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

h1 {
    color: #666666;
    font-size: 30px;
    font-weight: normal;
    line-height: 50px;
}





.col-centered {
    float: none;
    margin: 0 auto;
}


.blog-box {
    margin-top: 15px;
}

    .blog-box h1 a {
        text-decoration: none;
        color: #666666;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

        .blog-box h1 a:hover {
            color: #26272B;
        }


    .blog-box p {
        color: #aaaaaa;
        font-size: 15px;
        font-weight: 300;
        line-height: 26px;
    }

img {
    width: 100%;
    height: auto;
}

#font p {
    color: #666666;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 29px;
}



