﻿
@{
    ViewBag.Title = "Detail";
}
@model TestQuestionTwo.Core.ComplexModel.ArticleModel

<div class="row">
<div class=" col-md-12 blog-box">
    @Html.HiddenFor(model => model.Id)
    <img class="img-thumbnail" src="~/Content/Upload/@Model.Image"  alt="@Model.Title"/>
    <p> <span class="glyphicon glyphicon-send"></span> @Model.CategoryName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-calendar"></span> @string.Format("{0:dd MMMM yyyy dddd}", Model.CreateDate)</p>
    <h1><a href="/Home/CategoryDetail/@Model.Id">@Model.Title</a></h1>
    <div id="font">
        @Html.Raw(Model.FullDescription)
    </div>
    <hr />
</div>
</div>



