﻿@{
    ViewBag.Title = "Home Page";
}
@model List<TestQuestionTwo.Core.ComplexModel.ArticleModel>
<div class="row">
    @foreach (var item in Model)
    {
        
            <div class=" col-md-12 blog-box">
                <a href="~/Home/Detail/@item.Id"><img class="img-thumbnail" src="~/Content/Upload/@item.Image"  alt="@item.Title"/></a>
                <p> <span class="glyphicon glyphicon-send"></span> @item.CategoryName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="glyphicon glyphicon-calendar"></span> @string.Format("{0:dd MMMM yyyy dddd}", item.CreateDate)</p>
                <h1><a href="~/Home/Detail/@item.Id">@item.Title</a></h1>
                <p>@item.ShortDescription</p>
                <hr/>
                <hr/>
            </div>
        
    }
</div>